rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;

      match /sessions/{sessionId} {
        allow read, write: if request.auth.uid == userId;
      }

      match /subscriptions/{subscriptionId} {
        allow read, write: if request.auth.uid == userId;
      }
      
      match /feed_items/{itemId} {
        allow read, write: if request.auth.uid == userId;
      }
    }

    match /content/{contentId} {
      allow read: if true;
    }

    match /contentTypes/{contentTypeId} {
      allow read: if true;
    }

    match /products/{productId} {
      allow read: if true;
    }

    match /productCategories/{productCategoryId} {
      allow read: if true;
    }

    match /subscriptionTiers/{subscriptionTierId} {
      allow read: if true;
    }
  }
}

    