
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;

      match /sessions/{sessionId} {
        allow read, write: if request.auth.uid == userId;
      }

      match /subscriptions/{subscriptionId} {
        allow read, write: if request.auth.uid == userId;
      }
      
      match /feed_items/{itemId} {
        allow read: if request.auth.uid == userId;
        allow write: if request.auth.uid == userId;
      }

      // Rules for following/followers
      match /following/{followingId} {
        allow read: if true;
        allow write: if request.auth.uid == userId;
      }
      match /followers/{followerId} {
        allow read: if true;
        allow write: if request.auth.uid == followerId;
      }

      // Rule for posts a user has liked
      match /likes/{likeId} {
        allow read: if request.auth.uid == userId;
        allow write: if request.auth.uid == userId;
      }
    }
    
    match /feed_items/{itemId} {
      allow get, list: if request.auth != null;
      allow create: if request.auth.uid == request.resource.data.userId;
      allow update, delete: if request.auth.uid == resource.data.userId;

       match /likes/{userId} {
        allow read: if true;
        allow create, delete: if request.auth.uid == userId;
      }
    }

    match /content/{contentId} {
      allow read: if true;
    }

    match /contentTypes/{contentTypeId} {
      allow read: if true;
    }

    match /products/{productId} {
      allow read: if true;
    }

    match /productCategories/{productCategoryId} {
      allow read: if true;
    }

    match /subscriptionTiers/{subscriptionTierId} {
      allow read: if true;
    }
  }
}
