
.player-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Prevents scrollbars */
}

.player-container video {
    width: 100%;
    height: 100%;
    display: block;
}

.plyr--video {
    height: 100%;
    width: 100%;
}
